@font-face {
    font-family:vazir;
    src: url(../fonts/vazir/Vazir-Black-WOL.ttf) format(ttf),url(../fonts/vazir/Vazir-Black-WOL.woff)format(woff),url(../fonts/vazir/Vazir-Bold-WOL.eot)format(eot);
  }
  @font-face {
    font-family: yekan;
    src: url(../fonts/yekan/Yekan.eot)format(eot),url(../fonts/yekan/Yekan.ttf)format(ttf),url(../fonts/yekan/Yekan.woff)format(woff);
  }
  @font-face {
    font-family: me-quran;
    src: url(../fonts/me-quran/me-quran.eot)format(eot),url(../fonts/me-quran/me-quran.ttf)format(ttf),url(../fonts/me-quran/me-quran.woff)format(woff),url(../fonts/me-quran/me-quran.woff2)format(woff2);
  }
  *{
    font-family: vazir;
  }
  
  body{
      background-image: url(../image/old-paper-nagsh.ir-4.jpg);
      direction: rtl;
      
    }
  
    .item-nav-menu{
      font-size: large;
    }
  
   .item-nav-menu:hover{
    box-shadow: 0 1px 5px 1px seashell;
    transition: 1s;
   }

   .search-btn-PC-p2{
       position: absolute;
       right: 230px;
       width: 60px;
       height: 38px;
   }

   .search-btn-mob-p2{
       
       position: absolute;
       left: 10px;

   }

   .form-inline{
       @media  {
           
       }
   }


 #book{
  width: 100%;
   height:100%;
   background-color: rgb(114, 114, 114);
 } 

 .select-soore-lable{
  margin: 20px;
  margin-right: 50px;
}
#select-soore{
  width: 150px;
  height: 30px;
  margin-top: 15px;
 float: right;
 text-align: center;
 padding-bottom: 30px;
 position: relative; 
}
#select-soore::after{
  content: url(../icon/soore/angle-down.svg);
  position: absolute;
  left: 10px;
  top: 8px;
  width: 15px;
  height: 10px;
}

.aye-number-lable{
  float: right;
  margin: 23px 100px 25px 0px;
}

#aye-number{
  float: right;
  margin: 20px 20px 15px 0px;
  border: rgb(255, 255, 255);
  border-radius: 3px;
  width: 60px;
  height: 30px;
  text-align: center;
}

@media screen and (max-width:572px){
 .select-soore-lable{
   margin: 10px;
   margin-top: 10px;
 }
 #select-soore{
   width: 120px;
   height: 30px;
   margin-top: 5px;
  float: right;
  text-align: center;
  padding-bottom: 30px;
  position: relative;
 }
 #select-soore::after{
   content: url(../icon/soore/angle-down.svg);
   position: absolute;
   left: 10px;
   top: 8px;
   width: 15px;
   height: 10px;
 }
 .aye-number-lable{
   float: right;
   margin: 5px;
   margin-top: 8px;
   margin-left: 0px;
 }

 #aye-number{
   float: right;
   margin: 5px 20px 5px 55px;
   border: rgb(255, 255, 255);
   border-radius: 3px;
   width: 60px;
   height: 30px;
   text-align: center;
 }
}

#book-text{
 width: 100%;
 height: 600px;
 background-color: rgb(172, 172, 165);
 margin-top:10px;
 overflow: auto;
}

#book-text span{
 float: right;
 text-align: justify;
 padding: 50px;
}




 

 
